@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "./adjust.css";
html {
  font-size: 62.5%;
}

* {
  font-family: Karla, sans-serif;
  font-size: 1.6rem;
}

body {
  min-height: 100vh;
  background-color: #e5eff5;
}

.spacing {
  height: 7.2rem;
}

main {
  width: 31.14rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 26.69rem 22.9rem 22.6rem;
  box-shadow: 0 1rem 2rem -0.7rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
main section h2 {
  font-size: 1.8rem;
  color: white;
  padding-top: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}
main section .contents {
  width: 84%;
  margin: 0 auto;
}

.join {
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.join h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #2ab2af;
  padding-top: 2.7rem;
  padding-bottom: 2.5rem;
  letter-spacing: -0.04rem;
}
.join strong {
  font-weight: 700;
  color: #c0df34;
  padding-top: 2rem;
  letter-spacing: -0.07rem;
  line-height: 1.95rem;
}
.join p {
  font-weight: 400;
  color: #98a6bd;
  padding-top: 1.7rem;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.02rem;
}

.subscription {
  background-color: #2ab2af;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.subscription .cost {
  color: #e5eff5;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-top: 1.8rem;
  letter-spacing: 0.04rem;
}
.subscription .cost strong {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 1.3rem;
  color: white;
  letter-spacing: 0;
}
.subscription .per-day {
  color: white;
  font-weight: 400;
  padding-top: 1rem;
  letter-spacing: -0.02rem;
}
.subscription button {
  width: 100%;
  height: 4.7rem;
  background-color: #c0df34;
  border-radius: 0.5rem;
  border-style: hidden;
  box-shadow: 0 1rem 2rem -0.7rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  margin-top: 3rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: -0.03rem;
}
.subscription button:active {
  background-color: #b6d629;
}

.why-us {
  background-color: #4ec1bf;
  border-radius: 0 0 1rem 1rem;
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.why-us ul {
  color: white;
  font-weight: 400;
  padding-top: 2rem;
}
.why-us ul li {
  list-style: none;
  font-size: 1.4rem;
  padding-bottom: 0.37rem;
  letter-spacing: -0.018rem;
}

footer {
  padding: 3rem 0;
  text-align: center;
}
footer a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #2ab2af;
}
footer a:hover {
  color: #4ec1bf;
}

/* MEDIA QUERIES */
@media screen and (max-width: 330px) {
  main {
    width: 90%;
  }
}
@media screen and (min-width: 660px) {
  .spacing {
    height: 16.2rem;
  }

  main {
    width: max-content;
    grid-template-columns: repeat(2, 31.7rem);
    grid-template-rows: 21.7rem 25.9rem;
  }
  main section h2 {
    padding-top: 4rem;
  }
  main section .contents {
    width: 75%;
    margin-left: 4rem;
  }

  .join {
    grid-row: 1/span 1;
    grid-column: 1/span 2;
  }
  .join h1 {
    font-size: 2.42rem;
    padding-top: 4rem;
  }
  .join strong {
    font-size: 1.9rem;
  }
  .join p {
    font-size: 1.6rem;
    width: 108%;
    padding-top: 1.1rem;
  }

  .subscription {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    border-radius: 0 0 0 1rem;
  }

  .why-us {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    border-radius: 0 0 1rem 0;
  }
}

/*# sourceMappingURL=main.css.map */
